.profile-background {
  background: white;
  width: 100%;
  padding-left: 50px;
  min-height: 500px;
}
.label {
  font-size: 20px !important;
}
.site-account-background {
  background: transparent;
  padding: 13;
  min-height: calc(100vh - 300px);
}