.backgroundlogin {
  background-image: url("/src/Image/loginBackground.jpg") !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-layout-background-login {
  background: white !important;
  margin-top: 10px;
  height: 96% !important;
  padding: 170px 60px !important;
  border-radius: 20px !important;
  border-top: lightgray solid 1px !important;
  box-shadow: 10px 10px 5px grey !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
