.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 30px;
  margin: 16px;
  background: transparent
}

.app-sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  /* width: 250px !important;
  max-width: 250px !important;
  min-width: 250px !important; */
  height: 100% !important;
  overflow: auto;

}
-webkit-scrollbar {
  display: none;
}
.app-content {
  margin-left: 250px !important;
}

.site-layout  {
  /* padding-top: 15px !important; */
  background: #fff;
}
.site-layout-background {
  /* padding-top: 15px !important; */
  background: #fff;
}
.flex-row {
  height: 105vh !important;
}
.ant-layout-sider {
  /* background: black !important; */
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: transparent !important;
}
/* .ant-menu-submenu-selected{
  background: red !important;
} */
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(141, 238, 238,0.3 ) !important;
  
}