.order-array-item {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 30px;
}

.purchase-item-title {
  display: flex;
  font-size: 20px;
  padding: 5px 0px;
  color: dimgray;
  border-top: 1px solid #efefef;
}
.purchase-item-text-title {
  display: flex;
  margin-right: 30px;
  width: 100%;
  justify-content: center;
  align-self: center;
  padding: 0 0;
  margin-bottom: 0;
  border-top: 1px solid #efefef;
}
.purchase-item {
  display: flex;
  font-size: 15px;
  padding: 5px 0px;
  border-bottom: 1px solid #efefef;
}
.purchase-item-text {
  display: flex;
  margin-right: 30px;
  width: 100%;
  justify-content: center;
  align-self: center;
  color: tomato;
  padding: 0 0;
}
.purchase-order-item {
  display: flex;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 30px;
}
.purchase-order-total-layout {
  display: flex;
  justify-content: end;
  
  align-items: center;
}
.purchase-order-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}
.purchase-order-info-detail {
  display: flex;
  justify-content: end;
  padding: 10px 0px;
  align-items: center;
}
.purchase-order-total-layout-border {

  
  display: flex;
  align-items: center;
}
.purchase-order-total-title {
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 20px;
}
.purchase-order-total {
  display: flex;
  color: tomato;
  font-size: 25px;
  margin-bottom: 0;
}

.order-item-image-header {
  width: 60px;
}
.order-item-image {
  height: 100px;
  width: 60px;
}
.order-item-name {
  padding-left: 30px;
  font-size: 20px;
  width: 300px;
}
.order-item-totalquantity {
  display: flex;
  font-size: 18px;
  width: 290px;
  justify-content: center;
  align-items: center;
}
.order-item-quantity {
  display: flex;
  font-size: 20px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
.order-item-totalprice {
  display: flex;
  font-size: 20px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: tomato;
}

.order-cart-footer {
  display: flex;
  background-color: white;
  margin-top: 20px;
  padding: 10px 30px;
  position: fixed;
  /* width: 1370px; */
  height: 80px;
  justify-content: end;
  bottom: 0;
  right: 160px;
  left: 160px;
  border-top: lightsteelblue solid 0.5px;
  box-shadow: 0px -3px 10px -2px lightslategrey;
}
.order-order-btn-background {
  display: flex;
  align-items: center;
}
.order-order-btn {
  background-color: #ff7f50 !important;
  color: white !important;
  width: 150px;
  height: 50px !important;
  font-size: 20px !important;
}
.order-order-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 18px;
  margin-bottom: 0px;
}
.order-order-total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 28px;
  margin-bottom: 0px;
  color: #ff7f50;
}
.order-discountt {
  font-weight: 400;
  margin-left: 8px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  line-height: 22px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 8px;
}
.order-collapse {
  padding-left: 60px;
  font-size: 20px;
}
.order-collapse-header {
  color: dimgray;
}
.ant-collapse-header .ant-collapse-arrow {
  display: flex !important;
  align-items: center !important;
}
.action-item {
  margin-bottom: 10px;
  cursor: pointer;
}
.action-item-cancelled {
  margin-bottom: 10px;
  color: gray !important;
}
.item-image-header {
  width: 70px;
}
.cartitem {
  display: flex;
  background-color: white;
  margin-top: 10px;
  padding: 10px 30px;
}
.item-image {
  height: 100px;
  width: 70px;
}
.item-name {
  padding-left: 30px;
  font-size: 16px;
  width: 25%;
}
.item-totalquantity {
  display: flex;
  font-size: 14px;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.item-quantity {
  display: flex;
  font-size: 14px;
  width: 15%;
  justify-content: center;
  align-items: center;
}
.item-totalprice {
  display: flex;
  font-size: 14px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: tomato;
}
.item-delete {
  display: flex;
  font-size: 18px;
  width: 5%;
  justify-content: center;
  align-items: center;
  color: red;
  cursor: pointer;
}
.item-delete:hover {
  text-decoration: underline;
}
.cart-footer {
  display: flex;
  background-color: white;
  margin-top: 20px;
  padding: 10px 30px;
  position: fixed;
  right: 160px;
  left: 160px;
  height: 80px;
  justify-content: end;
  bottom: 0;
  border-top: lightsteelblue solid 0.5px;
  box-shadow: 0px -3px 10px -2px lightslategrey;
}
.order-btn-background {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-steps-item-icon, .ant-steps-item-content {
  vertical-align: unset !important; 
}
.btn-accept{
  color: white !important;
  background-color: #0099FF !important;
  
  /* border: #3366FF solid 1px !important; */
}
.btn-cancel{
  color: white !important;
  background-color: 		#FF6600 !important;

  /* border: #FF3333 solid 1px !important; */
}
.ant-tabs-tab {
  font-size: 16px !important;
  font-family: Helvetica !important;
  color: rgba(0,0,0,.8) !important;
}